/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 150%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** style */
a {
    text-decoration: none;
    cursor: pointer;
}
strong {
    font-weight: bold;
}
body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    background: #EFEFEF;
    color: #464646;
}
#gmap {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper{
    position: relative;
    z-index: 5;
    width: 100%;
}

#main{
}

#navigation{
    width: 100%;
    height: 226px;
    position: relative;
    /*background: #fff;*/
}

#header{
    background: url(images/fond_header.png) repeat-x left bottom;	
    height: 163px;
    width: 100%;
    position: relative;
}

#ville {
    width: 990px;
    height: 174px;
    background: url(images/fond_ville.png) no-repeat 9px;
    margin: auto;		
    text-align: center;
}


#logo{
    background: url(images/logo.png) no-repeat;
    width: 252px;
    height: 166px;
    position: absolute;
    top: 0;
}

#menu{
    background: url(images/fond_menu.png) repeat-x;
    height: 61px;
    width: 100%;
    margin: -12px 0 0;
}

#menu ul{
    height: 100%;
    width: 1000px;
    color: white;
    margin: auto;	
}

#menu li{
    float: left;	
}

#menu a{
    display: block;
    height: 66px;
    width: 167px;
    overflow: hidden;	
    margin: 2px 0 0 0;
    padding: 13px 10px 0 10px;
    color: white;
    text-decoration: none;
    line-height: 16px;
}

#menu a:hover, #menu li.active a{
    background: url(images/hover_menu.png) no-repeat;
}

#menu p{
    width: auto;
    margin: auto;
}

#application a{
    padding: 13px 10px 0 20px;
    width: 147px;
}

#invasion a{
    padding: 13px 10px 0 39px;
    width: 129px;
}

#blog a{
    padding: 13px 10px 0 43px;
    width: 124px;
}

.contact {
    font-size: 16px;
}
#contact a{
    width: 132px;
    padding: 13px 10px 0 35px;
}

#telecharger a{
    background: url(images/btn_telecharger.png) no-repeat scroll 0 2px transparent;
    padding: 20px 0 7px;
    margin: 2px 0 0 10px;
    text-align: center;
}

#home a{
    text-indent: -9000px;	
    background: url(images/btn_home.png) no-repeat;
    background-position: left top;
    height: 35px;
    width: 28px;
    overflow: hidden;
    padding: 0;
    margin: 10px 10px 0 0;
}

#home a:hover, body #home.active a{
    background: url(images/btn_home.png) no-repeat;
    background-position: right top;
}

#telecharger a:hover, body #telecharger.active a{
    background: url(images/btn_telecharger.png) no-repeat scroll 0 2px transparent;
}

.sep_menu{
    background: url(images/sep_menu.png) no-repeat;
    height: 49px;
    width: 3px;
    margin: 5px 0 0 0;
}



#content{
    width: 1000px;	
    margin: auto;

    height: auto;
    overflow: hidden;
}

#content.fade {

    height: 0;
}

#pager {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
}

#content_slider {
    position: relative;
}
#pager a {
    display: block;
    float: left;
    width: 18px;
    height: 16px;
    text-indent: -9999px;
    background: url(images/puces_slider.png) no-repeat top left;
    margin-left: 4px;
}

#pager a:hover, #pager a.activeSlide {
    background-position:  -19px 0;
}
#slider{
    width: 1011px;
    height: 411px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#actions{
    width: 100%;
    height: 131px;
    margin: 17px 0 0 0;
}

.action{
    color: white;	
}

#scanne{
    float: left;
    background: url(images/push1.png) no-repeat;
    width: 331px;
    height: 131px;
}

#scanne p{
    margin: 40px 0 0 120px;
}

#redecouvre{
    float: left;
    background: url(images/push2.png) no-repeat;
    width: 329px;
    height: 125px;
    margin: 6px 0 0 10px;
}

#redecouvre p{
    margin: 40px 0 0 120px;
}

#debloque{
    float: right;
    background: url(images/push3.png) no-repeat;
    width: 330px;
    height: 131px;
    margin: 1px 0 0 0;
    position: relative;
    right: -13px;
}

#debloque p{
    margin: 30px 0 0 120px;
}

.big_text{
    font-size: 18px;	
    font-weight: bold;
}

.small_text{
    font-weight: normal;
    font-size: 12px;	
}

#extracts{
    width: 100%;
    height: 300px;	
}

.extract_title{
    width: 379px;
    height: 45px;
    margin: 15px auto;
    background: url(images/bandeau_gris.png) no-repeat;	
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 10px 0 0;
}

#avis_extract{
    width: 495px;
    height: 291px;
    float: left;
    background: url(images/avis.png) no-repeat;
}

#blog_extract{
    width: 488px;
    height: 284px;	
    float: right;
    background: url(images/blog.png) no-repeat;
}

#footer {
    width: 1150px;
    height: 97px;
    margin: auto;
    background: url(images/travaux.png) no-repeat;
    z-index: 10;
    position: relative;
}

#footer-max {
    width: 100%;
    position: relative;
    height: 97px;
    overflow: hidden;
}

#footer-bottom {
    width: 120%;
    left: -10%;
    height: 55px;
    background: #efefef;
    box-shadow: 4px 0 4px 0 #444 inset;
    position: absolute;
    bottom: -9px;
    z-index: 1;
}
.selected_menu{
    background: #00f;
}

#menu.page-item-401 #triangle_select {
    left : 60px;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}

#menu.page-item-406 #triangle_select {
    left : 180px;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}

#menu.page-item-408 #triangle_select {
    left : 300px;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}

#triangle_select {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 25px;
    height: 25px;
    margin-left:-12px;
    display: block;
    background: pink;
    z-index: 1;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}



.page_item a{
    text-align: center;    
    display:block;
    width: 120px;
    height: 20px;
    padding: 10px 0;
}

.clear{
    clear: both;
}

.application {
    background: url(images/appli.png) no-repeat top left;
    width: 806px;
    padding: 550px 100px 0 100px;
    height: 202px;
}


.contact {
    background: url(images/contact.png) no-repeat top left;
    width: 1013px;
    height: 69px;
    text-align: center;
    padding-top: 390px;
}

H2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/*blog */

.img_post {
    width: 350px;
    height: 190px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.resume_post {
    float: left;
    width: 540px;
}
.type-post {
    overflow: hidden;
    background: url(images/fond_article.png) top left no-repeat;
    width: 916px;
    padding: 15px 40px;
    height: 196px;
    margin-bottom: 20px;
    position: relative;
}

h3, h3 a {
    color: #464646;
}
h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.about_post {
    display: inline-block;
    padding: 5px 10px;
    background: #f2f2f2;
    font-size: 11px;
    width: auto;
}
.readMore {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#content.invasion {
    width: 1px;
    height: 700px;
    left: 0px;
    position:static;
}

.cluster-number {
    border-radius: 100px;
    background: rgba(55, 192, 208, 0.4);
}

.clusterNumber {
    top:50%;
    margin-top: -10px;
    height:30px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    text-shadow: 1px 1px 3px #666;
    position: absolute;
    color: white;
}

.inner-cluster {
    width: 60%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 20%;
    border-radius: 100px;
    display: block;
    background:#31c1d3;
    z-index: 1;
}

.pulse {
    border: 10px solid #31c1d3;
    background: transparent;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 100%;
    width: 100%;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    
    left: -10px;
    top: -10px;
    z-index: 0;
    opacity: 0;
}

@-moz-keyframes pulse {
 0% {
	-moz-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-moz-transform: scale(0);
	opacity: 0.1;
 }
 50% {
	-moz-transform: scale(0.1);
	opacity: 0.3;
 }
 75% {
	-moz-transform: scale(0.5);
	opacity: 0.5;
 }
 100% {
	-moz-transform: scale(1.5);
	opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
	-webkit-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-webkit-transform: scale(0);
	opacity: 0.1;
 }
 50% {
	-webkit-transform: scale(0.1);
	opacity: 0.3;
 }
 75% {
	-webkit-transform: scale(0.5);
	opacity: 0.5;
 }
 100% {
	-webkit-transform: scale(1.5);
	opacity: 0.0;
 }
}


/* Invasion */

#legende{
    position: absolute; 
    z-index: 15;
    display: block;
    left: 50%;
    margin-left: -315px;
    overflow: hidden;
    height: 70px;
    margin-top:10px;
    width: 630px;
}

#legende ul{
    margin: 0;
    padding: 0;
}

#legende li{
    padding: 0;
    display: block;
    float: left;
    position: relative;
}

#image_li{
    width: 452px;
    z-index: 1000;
    height: 42px; 
    margin-left: -17px;
}

.b-invasion #legende {
    opacity:1;
    transition:ease opacity 0.5s;
    -moz-transition:ease opacity 0.5s;
    -o-transition:ease opacity 0.5s;
    -webkit-transition:ease opacity 0.5s;
    -ms-transition:ease opacity 0.5s;
}

#legende {
    opacity:0;
    
     transition:ease opacity 0.5s;
    -moz-transition:ease opacity 0.5s;
    -o-transition:ease opacity 0.5s;
    -webkit-transition:ease opacity 0.5s;
    -ms-transition:ease opacity 0.5s;
}
#france_button {
    display: block;
    width: 100px;
    height: 32px;
    text-indent: -9999px;
    margin-top: 6px;
    z-index: 1;
    background: url(images/btn_france.png) no-repeat top left;
}

#city_button {
    margin-top: 6px;
    display: block;
    width: 100px;
    height: 32px;
    text-indent: -9999px;
    margin-left: -17px;
    z-index: 1;
    background: url(images/btn_ville.png) no-repeat top left;
}
