/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #e3e3e3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** style */
#gmap{
   position: absolute;
   margin: 226px 0 0 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

#wrapper{
    position: relative;
    z-index: 5;
}

#main{
}

#navigation{
    width: 100%;
    height: 226px;
    position: relative;
    /*background: #fff;*/
}

#header{
	background: url(images/fond_header.png) repeat-x;	
	height: 166px;
	width: 100%;
	position: relative;
}

#ville{
	width: 990px;
	height: 174px;
	background: url(images/fond_ville.png) no-repeat 9px;
	margin: auto;		
	text-align: center;
}


#logo{
    background: url(images/logo.png) no-repeat;
    width: 252px;
    height: 166px;
    position: absolute;
    top: 0;
}

#menu{
    background: url(images/fond_menu.png) repeat-x;
    height: 61px;
    width: 100%;
	margin: -9px 0 0;
}

#menu ul{
    height: 100%;
    width: 1000px;
    color: white;
	margin: auto;	
}

#menu li{
    float: left;	
}

#menu a{
    display: block;
    height: 66px;
    width: 167px;
    overflow: hidden;	
    margin: 2px 0 0 0;
    padding: 13px 10px 0 10px;
    color: white;
    text-decoration: none;
    line-height: 16px;
}

#menu a:hover{
    background: url(images/hover_menu.png) no-repeat;
}

#menu p{
    width: auto;
    margin: auto;
}

#appli a{
	width: 159px;
	padding: 13px 10px 0 8px;
}

#invasion a{
	width: 137px;
	padding: 13px 10px 0 30px;
}

#blog a{
	width: 127px;
	padding: 13px 10px 0 40px;
}

#contact a{
	width: 132px;
	padding: 13px 10px 0 35px;
}

#telecharger a{
	background: url(images/btn_telecharger.png) no-repeat scroll 0 2px transparent;
	padding: 20px 10px 7px;
	margin: 2px 0 0 10px;
}

#home a{
	text-indent: -9000px;	
	background: url(images/btn_home.png) no-repeat;
	background-position: left;
	height: 35px;
    width: 28px;
    overflow: hidden;
    padding: 0;
    margin: 10px 10px 0 0;
}

#home a:hover{
	background: url(images/btn_home.png) no-repeat;
	background-position: right;
}

.sep_menu{
	background: url(images/sep_menu.png) no-repeat;
	height: 49px;
    width: 3px;
    margin: 5px 0 0 0;
}



#content{
	width: 1000px;	
	margin: auto;
}

#slider{
	width: 100%;
	height: 368px;
	margin: 42px 0 0 0;
	background: #00f; 	
}

#actions{
	width: 100%;
	height: 131px;
	margin: 17px 0 0 0;
}

.action{
	color: white;	
}

#scanne{
	float: left;
	background: url(images/push1.png) no-repeat;
	width: 331px;
	height: 131px;
}

#scanne p{
	margin: 40px 0 0 120px;
}

#redecouvre{
	float: left;
	background: url(images/push2.png) no-repeat;
	width: 329px;
	height: 125px;
	margin: 6px 0 0 10px;
}

#redecouvre p{
	margin: 40px 0 0 120px;
}

#debloque{
	float: right;
	background: url(images/push3.png) no-repeat;
	width: 330px;
	height: 131px;
	margin: 1px 0 0 0;
	position: relative;
	right: -13px;
}

#debloque p{
	margin: 30px 0 0 120px;
}

.big_text{
	font-size: 22px;	
}

.small_text{
	font-size: 16px;	
}

#extracts{
	width: 100%;
	height: 300px;	
}

.extract_title{
	width: 379px;
	height: 45px;
	margin: 15px auto;
	background: url(images/bandeau_gris.png) no-repeat;	
	text-align: center;
	color: white;
	font-size: 25px;
	padding: 10px 0 0;
}

#avis_extract{
	width: 495px;
	height: 291px;
	float: left;
	background: url(images/avis.png) no-repeat;
}

#blog_extract{
	width: 488px;
	height: 284px;	
	float: right;
	background: url(images/blog.png) no-repeat;
}

#footer{
	width: 1150px;
	height: 97px;
	margin: auto;
	background: url(images/travaux.png) no-repeat;
}

.selected_menu{
    background: #00f;
}

#menu.page-item-401 #triangle_select {
    left : 60px;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}

#menu.page-item-406 #triangle_select {
    left : 180px;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}

#menu.page-item-408 #triangle_select {
    left : 300px;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}

#triangle_select {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 25px;
    height: 25px;
    margin-left:-12px;
    display: block;
    background: pink;
    z-index: 1;
    transition:ease left 0.5s;
    -moz-transition:ease left 0.5s;
    -o-transition:ease left 0.5s;
    -webkit-transition:ease left 0.5s;
    -ms-transition:ease left 0.5s;
}



.page_item a{
    text-align: center;    
    display:block;
    width: 120px;
    height: 20px;
    padding: 10px 0;
}

.clear{
    clear: both;
}

