/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}
:focus {outline: 0;}
body {background: #fff; line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {font-weight: normal; text-align: left;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
::-moz-selection { background: #F2F2F2;}
::selection { background: #F2F2F2;}

/*
 * communs
 * author : badger 
 */
 a {cursor: pointer;}
 a:hover {cursor: pointer;}
.none {display:none;}
.max {width:100%;}
.invisible {visibility:hidden;}
.center {text-align:center;}
.right {text-align:right;}
.justify {text-align:justify;}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}
.sprite {background: url(images/sprite.png) no-repeat; display: block;}

.updateIE {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: yellow;
    color: red;
    z-index: 100000;
    padding: 5px;
    margin: 0;
    font-size: 16px;
    text-align: center;
}




/* for the stikcy footer */
html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}



/**
* style
*/

body {
 background: #f2f2f2;
 color: #383838;
 font-size: 13px;
 line-height: 16px;
 font-family: "Calibri", "Lucida Grande", Arial, Helvetica, sans-serif
}

#formulaire_connexion {
    position: relative;
    top: 0px;
    margin-top: -146px;
    height: 150px;
    background: black;
}

h1 {
    font-size: 50px;
    font-family: 'Tinos', serif;
    line-height: 1;
    margin-bottom: 25px;
    color: #42a1dd;
}

h2 {
    font-size: 40px;
    font-family: 'Tinos', serif;
    line-height: 1;
    margin-bottom: 16px;
    color: #42a1dd;
}

h3 {
    font-size: 30px;
    font-family: 'Tinos', serif;
    line-height: 1;
    color: #42a1dd;
    margin-bottom: 14px;
}

h4 {
    font-size: 20px;
    font-family: 'Tinos', serif;
    line-height: 1;
    margin-bottom: 15px;
}

strong {font-weight: bold;}
em, i {font-style: italic;}

a {
    text-decoration: none;
    color: #42a1dd;
    cursor: pointer;
}
a:hover {color: #3e3d3d;}
p {margin: 12px 0;}

#wrapper {
 width: 600px; 
 margin: auto;
}
 
header {
    position: relative;
    z-index: 1000;
}
#banner {
    width: 600px;
    height: 190px;
    z-index: 1000;
    position: relative;
    padding-top: 15px;
}

#site-title {
    width: 184px;
    height: 184px;
    margin: auto;
    background: url(images/logo.png) no-repeat center center;
    display: block;
    text-indent: -9999px;
}
/* MENU */

#menu>ul, #menu {
 display: block;
 clear: both;
 width: 100%;
 height: 40px;
 position: relative;
 z-index: 1;
}
#menu {border-top: 1px solid #c6c6c6;}
#menu ul li, #menu ul li a {
 display:block;
 text-align: center;
 color:#6c6c6c;
 font-size: 13px;
 font-family: 'Tinos', serif;
 
}
#menu ul li a span {
    font-size: 12px;
    font-style: italic;
    display: block;
}
#menu>ul>li {
  position: relative;  
  float: left;
  width: 20%;
  height: 39px;
  border-bottom: 1px solid #c6c6c6;
}
#menu>ul>li>a {
    height: 35px;
    padding-top: 12px;
    text-transform: uppercase;
}

#menu>ul>li.link_3>a, #menu>ul>li.link_2>a {
    padding-top: 12px;
    height: 27px;
}

#menu ul.children {
    display: none;
    position: absolute;
    width: 100%;
    top: 40px;
}
#menu ul.children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    background: white;
    text-transform: capitalize;   
    height: 28px!important;
}

#menu ul.children li a {
    padding: 7px 5px;
    height: 15px;
    display: block;
}
#menu ul.children li a:hover {
    background: url(images/hover_menu.png) repeat;
    color: black;
}

#menu>ul>li:hover, #menu>ul>li.selected  {border-bottom: 1px solid black;}
#menu>ul>li:hover>a, #menu>ul>li.selected>a {color: black!important;}
#menu>ul>li:hover .triangle_top, #menu>ul>li.selected .triangle_top {display: block;}
#menu>ul>li:hover .children {display: block;}

.triangle_top {
    height: 0px;
    width: 0px;
    position: absolute;
    left: 50%;
    bottom: -1px;
    display: none;
    margin-left: -5px;
    border-bottom: 6px black solid;
    border-left: 5px transparent solid;
    border-top: 5px transparent solid;
    border-right: 5px transparent solid;
}


/* content */
#main {
    position: relative;
    z-index: 1;
    margin-top: 35px;
    margin-bottom: 60px;
}

#content.list-article article.post {height: 224px;}
article.post, article.page, article.attachment {
    padding: 12px;
    border: 1px solid #b6b6b6;
    width: 574px;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-bottom: 16px;
    box-shadow:2px 2px 3px #CDCDCD; 
}
article.attachment .entry-content {margin-top: 20px;}
.entry-title {
    font-family: 'Tinos', serif;
    color: #42a1dd;
}

.img_post {
    overflow: hidden;
    float: left;
    width: 265px;
    height: 225px;
    margin-right: 10px;
    background: #eee;
}

.resume_post {
    float: left;
    width: 295px;
    height: 220px;
    overflow: hidden;
}

.readMore {
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-indent: -9999px;
    background: url(images/coin.png) no-repeat right bottom;
    height: 53px;
    width: 52px;
}
.readMore:hover {background-position: -1px bottom;}

.about_post {
    display: inline;
    background: #f2f2f2;
    padding: 5px;
    clear: both;
}

.cat-links {
    clear: both;
    float: none;
    margin-bottom: 20px;
    position: relative;
    top: 13px;
    color: white;
    background: #98d100;
    display: inline-block;
    font-weight: bold;
    padding: 3px 20px 3px 5px;
}
.cat-links a {color: white;font-weight: normal;}

.entry-summary {
    font-size: 12px;
    max-height: 90px;
    overflow: hidden;
}


footer.max {
    height: 15px;
    padding: 25px 0;
    text-align: center;
    background: black;
    overflow: hidden;
}

footer.max nav {
    margin: auto;
    width: 600px;
}
footer.max nav ul {width: 100%;}
footer.max li {
    width: 20%;
    float: left;
    
}
footer.max a {
    text-align: center;
    display: block;
    width: 100%;
    height: 15px;
    color: white;
    font-size: 10px;
    text-transform: capitalize;
    border-left: 1px solid white;
}

footer.max .link_1 a {border: none!important;}

/*pagination */

.pagination {text-align: center;}
.pagination>a {
    display: inline-block;
    font-size: 0px;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    position: relative;
    top: 0px;
}
.pagination>a>span {
    display: inline-block;
    font-size: 0px;
    width: 9px;
    height: 9px;
    background: url(images/pagination.png) no-repeat top right;
}
.pagination>a>span.next:hover {background-position: 1px top;}
.pagination>a>span.next {background-position: right top;}
.pagination>a>span.prev:hover {background-position: 0px bottom;}
.pagination>a>span.prev {background-position: right bottom;}


.wp-pagenavi {
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.wp-pagenavi>* {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.wp-pagenavi>span {
    color: black;
}

.wp-pagenavi>a {
    color: #6c6c6c;
}

.wp-pagenavi>a:hover {
    color: black;
}
/** CONTENT ARTICLE **/

.alignleft {
    float: left;
    margin: 10px;
}

.alignright {
    float: right;
    margin: 10px;
}
#tinymce p, p {
	line-height: 160%;
	margin-bottom: 15px;
}

#content ul {
    list-style: inside;
    margin: 10px;
}
#content ol {
    list-style: decimal;
    margin: 10px;
    padding-left: 19px;
}
#content li {
    margin-bottom: 5px;
}
blockquote {
	position: relative;
    font-style: italic;
    background:#F2F2F2;
    padding: 6px 15px;
    margin: 10px;
}

blockquote:before {
	content: "“";
	color: #333;
	font-size: 34px;
	margin-right: 10px;
	position: absolute;
	top: 10px;
	left: 0px;
}

blockquote:after {
	content: "”";
	color: #333;
	font-size: 34px;
	margin-right: 10px;
	position: absolute;
	bottom: 0;
	right: 0px;
}

#tinymce p + h2, #tinymce ul + h2, #tinymce table + h2, #tinymce blockquote + h2, #tinymce dl + h2,
#tinymce p + h3, #tinymce ul + h3, #tinymce table + h3, #tinymce blockquote + h3, #tinymce dl + h3,
#tinymce p + h4, #tinymce ul + h4, #tinymce table + h4, #tinymce blockquote + h4, #tinymce dl + h4,
#tinymce p + h5, #tinymce ul + h5, #tinymce table + h5, #tinymce blockquote + h5, #tinymce dl + h5,
#tinymce p + h6, #tinymce ul + h6, #tinymce table + h6, #tinymce blockquote + h6, #tinymce dl + h6 {
	margin-top: 30px;
}

/* @end */


/* @group Tableaux */

table caption {
	display: none;
}

table thead th {
	border-bottom: 2px solid #ccc;
	background: #f6f4f1;
}

/* @end */


/* form */
form>p {
    clear: both;
    overflow: hidden;
    position: relative;
}
form>p>*{
    display: block;
    float: left;
}
form label {
    width: 150px;
    text-align: right;
}
form .required {
    position: absolute;
    left: 155px;
    color: salmon;
}
form .comment-notes {font-size: 12px;}
form .comment-notes .required {
    position: static;
    float: none;
    display: inline;
}
form input, form textarea, form select {
    margin-left: 20px;
    border: 1px solid #C6C6C6;
    padding: 4px 10px;
    color: #383838;
    font-size: 13px;
    box-shadow : 2px 2px 3px #CDCDCD;
    line-height: 16px;
    font-family: "Calibri", "Lucida Grande", Arial, Helvetica, sans-serif;
}
form input:focus, form textarea:focus, form select:focus {border-color:black;}
textarea {max-width: 380px;}

form .form-allowed-tags {
    font-size: 10px;
    margin-top: -10px;
    margin-left: 175px;
}
#submit, #lwa_wp-submit {
    margin-left: 175px;
    border: none;
    display: block;
    padding: 4px 10px;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Tinos',serif;
}

#lwa_wp-submit {
    background: white;
    color: black;
    margin-left: 171px;
}

#toggleConnec {
    display: block;
    text-indent: -9999px;
    width: 125px;
    height: 32px;
    position: absolute;
    right: 0px;
    background: url(images/connect.png);
}


#connect_form {
    position: absolute;
    top: 0px;
    right: 0px;
}

#LoginWithAjax input, #LoginWithAjax select{
    box-shadow:none;
}

#LoginWithAjax {
    margin : auto;
    width: 600px;
}
#LoginWithAjax_Form {
    overflow: hidden;
    color: white;
}
#LoginWithAjax a {color: #666;}
#formulaire_help {
    margin-left: 20px;
    font-size: 11px;
    margin-top: -5px;
}

#formulaire_help input {margin: 0;}
#lwa_wp-submit{margin-top: 3px;}


/* PAGE 404 */
article.error404 {
    line-height: 200px;
    overflow: hidden;
    font-size: 200px;
    height: 200px;
    text-align: center;
    font-family: 'Tinos', serif;
}


/** COMMENTS */
#comments, #respond {margin-top: 40px;}

#comments li article, #commentform {
    display: block;
    padding: 14px 7px;
    box-shadow : 2px 2px 3px #CDCDCD;
    border: 1px solid #e6e6e6;
    background: #dbdbdb;
    position: relative;
    overflow: hidden;
}

#comments li article .fleft {
    margin-right: 20px;
    margin-bottom:5px;
    
}
#comments li article .fleft .avatar {
    box-shadow : 2px 2px 3px #CDCDCD;
    border: 1px solid #e6e6e6;
}

    
#comments li article .about_post {
    position: absolute;
    top: 20px;
    right: 20px;
}

.author_comment {
    display: block;
    color: #6c6c6c;
    font-weight: strong;
    font-size: 16px;
    padding-top: 15px;
    margin-bottom: 20px;
}
#comments>.commentlist{
    margin: 0px 0px 30px 0;
    padding: 0px;
}
#comments ul, #comments ol {
    margin-right: 0px!important;
    list-style: none!important;
}

#comments .children {margin-left: 30px!important;}  
#comments-title, #reply-title {color: #3598d7!important;}

.logged-in-as>* {
    float: none!important;
    display: inline!important;
}

.form-allowed-tags {
    display: none;
}

.img_post {
    border: 1px solid #B6B6B6;
}
iframe {
    background:  #EEEEEE url(images/load.gif) center center no-repeat;
    margin:auto;
}
.entry-content {
    overflow: hidden;
}

.cat_3, .cat_7 {background: #98d100!important;}
.cat_10, .cat_6 {background: #8c07ad!important;}
.cat_9, .cat_8 {background: #fb7000!important;}


/*
.entry-content img {
    border: 1px solid #B6B6B6;
}*/
/* =============================================================================
   PLACEHOLDER Media Queries for Responsive (and your mother bitch? is she responsive???) Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

