/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body { 
	margin: 0; 
	padding: 0;
	font-family: Arial, sans-serif; 
}

b {
    font-weight: bold;
}
/* Clear */
.visualClear {
	clear: both;
	visibility: hidden;
}

/* Header section */
header {
	
	height: 60px;
                    background: url(../img/bkgheaderRepeatX.png) repeat-x bottom left;
	color: white;
}

h1 img {
    height: 40px;
    margin: 2px 0 0 10px;
    float: left;
}
header h2 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 12px;
    margin-left: 15px;
    float: left;
}
header a:hover {
	color: #cccccc;
}

/* menu section */
#menu, #filtres, #legende {
        display: none;
}

#menu li {
	margin: 10px 30px 10px 10px;
	float: left;
}

#menu li a {
	padding: 10px;
	background-color: #ededed;
	text-decoration: none;
	color: #363636;
}

#menu li a:hover,
#menu li a:focus {
	background-color: #cdcdcd;
}



/* Table section */
table {
	width: 98%;
                    margin: 1% 1%;
	border-spacing: 0;
}

#legende {
	position: fixed;
	background-color: white;
	right: 150px;
	width: 120px;
	border: 1px solid #696969;
	font-size: 0.8em;
}

#legende td {
	padding: 5px;
}

#legende div {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #424242; /* gris geek */
}

td, th {
	font-size: 12px;
	padding: 8px 10px;
	border: 1px solid #ccc;
}

.line1, line2,
.line11, .line12, .line21, .line22,
.line31, .line32, .line41, .line42 {
	color: #000000;
	font-weight: normal;
}

.line1 { background-color: #f9f9f9; }
.line2 { background-color: #ffffff; }
.line11 { background-color: #fff; }
.line12 { background-color: #eee; }
.line21 { background-color: #dbe6e8; }
.line22 { background-color: #e7f9fd; }
.line31 { background-color: #d6ffd0; }
.line32 { background-color: #eaffe7; }
.line41 { background-color: #ffcccc; }
.line42 { background-color: #ffe4e4; }

tr.header th {
	color:#000;
	font-weight:normal;
  	background:#efefef;
}

/* Statistics */

#stat {
	margin-left: 10px;
}

#stat .graph {
	float: left;
	margin: 20px;
}

#stat h3 {
	margin-left: 30px;
}

/* jqPlot hack */
table.jqplot-table-legend {
	width: auto;
}
